.error{
    border: solid red !important;
}
.success{
    border:solid green !important;
}
.px p{
    text-align:center;
    color:red;
    
}


/* staff= athupv@gmail.com pass=12345678 */

/* admin=athu and pass= vaga1234 */
