{% extends 'base.html' %}
{% block content %}
<h2 style="text-align:center;color:rgb(9, 9, 56);margin-top:30px;">MY PROFILE</h2>
<table class="table" style="width:80%;margin-left:10%;margin-top:30px;">
   
    <tbody>
      {% for i in form %}
      <tr>
        <th scope="row">Name</th>
        <td>{{i.name}}</td>]
        
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td>{{i.email}}</td>
        
      </tr>
      <tr>
        <th scope="row">Phone Number</th>
        <td>{{i.phno}}</td>
      
      </tr>
      {% endfor %}
    </tbody>
  </table>

    <button type="button" class="btn btn btn-sm" style="background-color:rgb(9, 9, 56);margin-left:50%;padding:8px;"><a href="{% url 'editprofile'%}" class="btn btn btn-sm" style="color:white;text-decoration:none;">EDIT PROFILE</a></button>






 {% endblock %}

        
 