{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% endblock %}
{% block content %}
<div style="border:2px solid rgb(9, 9, 56);width:50%;padding:20px;text-align:center;margin-left:25%;margin-top:30px;">
    <h2 style="color:rgb(9, 9, 56)">ADD STUDENTS</h2>
<form action=" " method="POST"  >
    {% csrf_token %}
    {{form|crispy}}
    <br>
    <button type="submit" class="btn btn" style="background-color:rgb(9, 9, 56);color:white;">Submit</button></form>


</div>
{% endblock %}