{% extends 'mainbase.html' %}
{% load static %}
{% block title %}trainer{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
<div class="row" style="gap: 100px;margin-top: 100px;margin-left: 100px;">
    



<div class="card" style="width: 18rem;border-radius: 20px;border-radius: 20px;">
    <img src="{% static 'images/teacher1.jpg' %}" class="card-img-top"  alt="...">
    <div class="card-body">
        <h5 class="card-title" style="margin-left:10px;border-image:50px; padding: 15px;margin-top:15px;">DALIA</h5>
        <p class="card-text">BSC TEACHER WITH 7 YEARS EXPERIENCE
            </p>
        
    </div>
</div>

<div class="card" style="width: 18rem;border-radius: 30px;">
    <img src="{% static 'images/teacher2.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">ALEXANDRA</h5>
        <p class="card-text">BSC CS TEACHER WITH 5 YEAR EXPERIENCE
            </p>
       
    </div>
</div>

<div class="card" style="width: 18rem;border-radius: 30px;">
    <img src="{% static 'images/teacher4.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">JONY</h5>
        <p class="card-text">BSC CS TEACHER WITH 5 YEAR EXPERIENCE
            </p>
       
    </div>
</div>


<div class="card" style="width: 18rem;border-radius: 30px;">
    <img src="{% static 'images/teacher3.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">SRIVYA</h5>
        <p class="card-text">BSC STATI TEACHER WITH 6 YEARS EXPERIENCE
            </p>
       
    
</div>
</div>

</div>




{% endblock %}

